.loginWrapper {
    width: 100%;
    height: 100vh;
    background-color: #2c3338;
    display: flex;
    align-items: center;
    justify-content: center;

    --m_bottom: 15px;
    --height:60px;
}

.form {
    
    width:400px;
    height: auto;
  
}

.box_input {
    width: 100%;
    height: var(--height);
    display: flex;
    margin-bottom:var( --m_bottom);

}

.icon_login {
    display: flex;
    width: 60px;
    height: var(--height);
    justify-content: center;
    align-items: center;
    background-color: #363b41;
    color: rgb(105, 121, 134);
}

.input_login {
    width: 323px; 
    height: var(--height);
    border: none;
    background-color: #3b4148;
    font-size: 0.9rem;
    padding-left: 15px;
    color: var(--white);
    &::placeholder {
        padding-left: 15px;
        justify-content: center;
        color: #6d7177;
        font-size: 0.8rem;
    }

    &:hover {
        background-color: #505962;
        color: var(--white);
    }

    &:focus-within {
        display: block;
        width: 323px; 
        padding-left: 15px;
        color: var(--white);
        font-size: 0.9rem;
        outline: none;
        border: 1px solid #505962 ;
    }
}





.btn_login {
width: 100%;
height: var(--height);
background-color: #ea4c88;
color: var(--white);
border: none;
border-radius: 4px;
margin-bottom:var( --m_bottom);

}

.linkSignUp {
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
}

.p_login {
    margin-right: 5px;
    color: #6d7177;
}

.p_signUp {
    color: var(--white);
    outline: none;
    text-decoration: none;
    background-color: transparent;
}